In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
from datetime import datetime
from matplotlib import rcParams

from matplotlib import rc
rc('font',family='Malgun Gothic')

import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False

### 1. 데이터 불러오기

In [7]:
movie = pd.read_csv('../data/Preprocessing_movie_data/final_data.csv', parse_dates=['openingdate'])
movie.head()

,moviename,openingdate,attendance,screen,playcount,director,actor,openingmonth,country_abroad,country_domestic,...,genre_romance,genre_sf,genre_thriller,genre_war,filmrank_G_rated,filmrank_PG 12,filmrank_PG 15,filmrank_X_rated,filmrank_etc rate,sales
0,극한직업,2019-01-23,16265618,2003,292584,4712049,3,1,0,1,...,0,0,0,0,1,0,0,0,0,139651845516
1,명량,2014-07-30,17613682,1587,188611,6125227,3,7,0,1,...,0,0,0,0,1,0,0,0,0,135748398910
2,어벤져스: 엔드게임,2019-04-24,13934592,2835,242001,4073212,3,4,1,0,...,1,0,0,0,0,0,1,0,0,122182694160
3,베테랑,2015-08-05,13414009,1115,199231,8462013,2,8,0,1,...,1,0,0,0,0,0,0,1,0,105168155250
4,신과함께-인과 연,2018-08-01,12274996,2235,179981,12274996,3,8,0,1,...,0,0,0,0,0,0,1,0,0,102666146909

In [10]:
columns = list(movie.columns)[1:]

In [ ]:
sns.pairplot(movie[columns])

Index(['moviename', 'openingdate', 'attendance', 'screen', 'playcount',
       'director', 'actor', 'openingmonth', 'country_abroad',
       'country_domestic', 'distributor_etc_distributor', 'distributor_major',
       'genre_action', 'genre_adventure', 'genre_animation', 'genre_comedy',
       'genre_crime', 'genre_documentary', 'genre_drama', 'genre_epic',
       'genre_etc genre', 'genre_family', 'genre_fantasy', 'genre_fear',
       'genre_musical', 'genre_mystery', 'genre_noir', 'genre_romance',
       'genre_sf', 'genre_thriller', 'genre_war', 'filmrank_G_rated',
       'filmrank_PG 12', 'filmrank_PG 15', 'filmrank_X_rated',
       'filmrank_etc rate', 'sales'],
      dtype='object')